html {
	  font-family: Roboto;
}

.nav {
  padding: 15px;
  border-bottom: solid;
}

.name {
  font-size: 22px;
  padding-right: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding: 6px 15px 7px 7px;
  font-size: 18px;
  font-family: Roboto;
}

h3 {
	padding-top: 10px;
	  font-family: Roboto;
}

h5 {
	font-size:16px;
	font-family: Roboto;
	color: grey;
}

img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: auto;
	width: 450px;

}

.post-img {
	width: 450px;
	height: automatic;
	overflow: hidden;
}

.post {
	width:450px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top:30px;
}
